.button {
  height: 3.125rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background: var(--purple-100);
  color: var(--white-50);
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0;
  transition: filter 0.2s;
  img {
    margin-right: 0.5rem;
  }
  &.outlined {
    background: var(--white-50);
    border: 1px solid var(--purple-100);
    color: var(--purple-100);
  }
  &:not(:disabled):hover {
    filter: brightness(0.9);
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
